message: "Hmmm, a King Gizzard song was played. Maybe we should VoNC Towells. :vonc: :towells:"
slack: ""
nowPlaying: "https://ury.org.uk/api/graphql?query={nowPlaying(include_playout:true){track{... on Track{title,artist},... on TrackNotRec{title,artist}}}}&api_key=API"