message: "Hmmm, a King Gizzard song was played. Maybe we should VoNC Towells. :vonc: :towells:"
slack: ""
nowPlaying: "https://ury.org.uk/api/graphql?query={nowPlaying(allowOffAir:false){track{...%20on%20Track{title,artist},...%20on%20TrackNotRec{title,artist}}}}&api_key=API"