message: "Hmmm, a King Gizzard song was played. Maybe we should VoNC Towells. :vonc: :towells:"
slack: ""
nowPlaying: "https://ury.org.uk/api/graphql?query=%7BnowPlaying(include_playout:true)%7Btrack%7B...%20on%20Track%7Bartist%7D,...%20on%20TrackNotRec%7Bartist%7D%7D%7D%7D"